@model WebApplication5.Models.AlumnoModel
@{
    ViewBag.Title = "AltaExito";
}

<h1>Alta dada con éxto!</h1> <br />  <br />

<label> Nombre completo del alumno: @Model.Nombre </label> <br />
<label> DNI del alumno: @Model.Dni </label> <br />
<label> Edad del alumno: @Model.Edad </label> <br />

