@model WebApplication6.Models.AlumnoModel
@{
    ViewBag.Title = "AltaConfirmacion";
}

<h2> El nombre del alumno es: </h2> @Model.Nombre <br />
<h2> El apellido del alumno es: </h2> @Model.Apellido <br />
<h2> La edad del alumno es: </h2> @Model.Edad <br />
<h2> El número de documento del alumno es: </h2> @Model.Dni <br />


